
  




.nav-item {
    margin: 0px 15px;
  }
  
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  

/* Jumbotron Equivalent */
.hero-banner{
    background-image: url(../Images/02-hero-bg.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    opacity: 1;
    }
    
    .hero-banner h2{
    background-color: cornflowerblue;
    padding: 5px 15px 5px 15px;
    margin-right: 150px;
    color: rgb(39, 39, 39);
    font-size: 30px;
    float: right;
    position: relative;
    top: 200px;
    }
    
    .content {
        padding: 50px;
    }      
    .sectionHeading {
        text-align: center;
        padding-bottom: 20px;
      }
    .mywork{
        padding: 0px 30px 30px 30px;
    }

    .cardContainer {
        text-align: center;
      }
      

      /* .content*/

      .sideAccent {
        background: #007bff;
        width: 15px;
      }
      .imageContainer img {
        width: 100%;
      }
      .imageContainer {
        padding: 50px;
      }
      .valueProp {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      
.card{

   margin-bottom: 30px;
}

h5{
    text-align: center;
}